  {{#if isLiked}}
    <button data-hull-action="unlike" class="btn">
      <i class='icon-heart'></i>
      Unike
    </button>
  {{else}}
    <button data-hull-action="like" class="btn">
      <i class='icon-heart-empty'></i>
      Like
    </button>
  {{/if}}