{{#if loggedIn}}
  <h1>You are logged in, how about that...</h1>
  <p>No point really showing you anything, is there?</p>
{{else}}

<div class="row-fluid">
	<div class="page-header">
	      <h2>Login or Sign Up
		  </h2>
	 </div>
      
	  
	  <div class="span3">
	  <a data-hull-action='login' class="btn btn-medium" data-hull-provider="github"><i class="icon-github"></i> Github</a>
	  </div>
	  
	  <div class="span3">
	  <a data-hull-action='login' class="btn btn-medium" data-hull-provider="twitter"><i class="icon-twitter"></i> Twitter</a>
	  </div>
	 
	  <div class="span3">
  
	  <a data-hull-action='login' class="btn btn-medium" data-hull-provider="facebook"><i class="icon-facebook"></i> Facebook</a>
	  </div>
</div>
  
{{/if}}